.dropdownMenu {
    background-color: white;
}
.dropdown {
    color: #E4AF0A;
}

.dropdown:hover {
    transform: scale(90%);
    border: 0;
     background-color: #ecebeb;
     border-radius: 4px;
}