.container {
    display: flex;
    flex-direction: row;
}

.contentContainer {
    padding-left: 3vw;
    padding-top: 20px;
    display: flex;
    flex-direction: column;

}

.icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

